@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'MyWebFont';
  src: url('happy-times-at-the-ikob-webfont.woff') format('woff');
}
body {
    background-color: wheat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}
#main {
    display: flex;
    justify-content: center;
    align-self: center;
}

.container {
    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: peru;
}

#title {
    font-size: 3rem;
    margin-bottom: 0;

}

#counter {
    font-size: 2rem;
	background-color: lightslategray;
	padding: 1rem 2rem;
	height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
	border:1px solid none;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: lightslategray;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 1rem;
    cursor: pointer;
}

